@use "utils" as *;
@use "global" as *;

$color_type_0: rgb(148, 144, 139);
$color_type_1: rgb(255, 255, 255);

$bg_color_type_0: rgb(149, 130, 88);
$bg_color_type_1: rgb(255, 242, 227);

$border_radius_type_0: 42.5px 42.5px 42.5px 42.5px;
$border_radius_type_1: 46px 46px 46px 46px;

  .root {
    @include flex-column;
    background-color: $bg_color_type_1;
    position: relative;
    overflow: hidden;
  }
  .flex_col {
    @include flex-column;
    row-gap: 136px;
    width: 95.42%;
    position: relative;
    flex-grow: 1;
    margin: 64px 0.42% 86px 4.17%;
  }
  .flex_col > .cell {
    @include flex-column;
    position: relative;
  }
  .flex_col1 {
    @include flex-column;
    row-gap: 60px;
    position: relative;
    flex-grow: 1;
  }
  .flex_col1 > .cell {
    @include flex-column;
    position: relative;
  }
  .group {
    @include flex-column;
    position: relative;
    flex-grow: 1;
  }
  .hero_title1 {
    @include lg {
      font-size: 52px;
      text-align: left;
    }
    @include md {
      font-size: 44px;
    }
    @include sm {
      font-size: 36px;
    }
    @include xxs {
      font-size: 32px;
    }
    @include tn {
      font-size: 20px;
    }
    @include font-face($font_type_0, $color_type_0, -2.7px);
    width: 606px;
    height: 104px;
    font-family: 'Candara Light';
    font-size: 50px;
    letter-spacing: 0px;
    color: #747474;
    position: absolute;
    top: -70px;
    right: -150px;
  }
  .flex_row {
    @include v-center-content;
    position: relative;
    flex-grow: 1;
  }
  .flex_row > .cell {
    @include flex-column;
    position: relative;
    flex: 0 1 886px;
  }
  .flex_col2 {
    @include flex-column;
    row-gap: 50px;
    position: relative;
    flex-grow: 1;
  }
  .flex_col2 > .cell {
    @include flex-column;
    position: relative;
  }
  .image {
    border-radius: 46px;
    outline: 8px solid rgb(214, 214, 214);
    width: 60.47%;
    height: auto;
    filter: drop-shadow(-4px 9px 18px rgba(0, 0, 0, 0.4980392156862745));
    aspect-ratio: 1.54;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    margin: 0px 5.53% 0px 0%;
  }
  .image1 {
    filter: drop-shadow(-4px 9px 18px rgba(0, 0, 0, 0.4980392156862745));
    aspect-ratio: 1.54;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    left: -50px;
    transition: 0.3s;
  }
  .image1:hover {
    opacity: 0.85;
  }
  .hero_title {
    @include lg {
      font-size: 40px;
      text-align: left;
    }
    @include md {
      font-size: 36px;
    }
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 28px;
    }
    @include xxs {
      font-size: 24px;
    }
    @include tn {
      font-size: 16px;
    }
    @include font-face($font_type_2, $color_type_0, -2.16px);
    position: relative;
    flex-grow: 1;
    font-family: 'Candara Light';
    font-size: 40px;
    letter-spacing: 0px;
    color: #747474;
    left: -30px;
  }
  .flex_row > .cell1 {
    @include flex-column;
    position: relative;
    flex: 1 1 488px;
  }
  .hero_title2 {
    @include lg {
      font-size: 32px;
      text-align: left;
    }
    @include md {
      font-size: 28px;
    }
    @include sm {
      font-size: 24px;
    }
    @include xxs {
      font-size: 20px;
    }
    @include tn {
      font-size: 16px;
    }
    @include font-face($font_type_3, $color_type_0, -1.71px);
    position: relative;
    flex-grow: 1;
    font-family: 'Candara Light';
    font-size: 40px;
    letter-spacing: 0px;
    color: #747474;
    right: -780px;
    top: -610px;
  }
  .hero_title11_box {
    @include lg {
      align-items: flex-start;
      justify-content: flex-start;
    }
    width: 60.12%;
    height: -500px;
    position: relative;
    flex-grow: 1;
    min-height: 153px;
    margin: 0px 21.91% 0px 17.98%;
    top: -150px;
    left: 150px;
  }
  .hero_title11 {
    @include font-face($font_type_0, $color_type_0, -2.7px);
    @include lg {
      font-size: 52px;
      text-align: left;
    }
    @include md {
      font-size: 44px;
    }
    @include sm {
      font-size: 36px;
    }
    @include xxs {
      font-size: 32px;
    }
    @include tn {
      font-size: 20px;
    }
    top: -200px;
    left: 300px;
  }
  .hero_title11_span0 {
    font-family: 'Candara Light';
    font-size: 50px;
    letter-spacing: 0px;
    color: #747474;
    top: -200px;
    left: 250px;
  }
  .hero_title11_span1 {
    font-family: 'Candara Light';
    font-size: 50px;
    letter-spacing: 0px;
    color: #747474;
    top: -200px;
    left: 300px;
    text-decoration: underline;
    background: #fff2e3;
    border-radius: 0;
    border: 0;
  }
  .group1 {
    @include flex-column;
    width: 25.98%;
    position: relative;
    flex-grow: 1;
    margin: 0px 72.2% 0px 1.82%;
  }
  .rect {
    background-color: $bg_color_type_0;
    border-radius: $border_radius_type_0;
    position: relative;
    flex-grow: 1;
    min-height: 85px;
  }
  .hero_title3 {
    @include lg {
      font-size: 52px;
      text-align: left;
    }
    @include md {
      font-size: 44px;
    }
    @include sm {
      font-size: 36px;
    }
    @include xxs {
      font-size: 32px;
    }
    @include tn {
      font-size: 20px;
    }
    @include font-face($font_type_1, $color_type_1, -2.7px);
    position: absolute;
    top: 3px;
    bottom: 17px;
    left: 32px;
    right: -49px;
  }
